# Boosting

In [1]:
# Load libraries
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [2]:
#Load the dataset
df = pd.read_csv('conversion_data.csv')
df.head()

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [3]:
#Check data types of the features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 6 columns):
country                316200 non-null object
age                    316200 non-null int64
new_user               316200 non-null int64
source                 316200 non-null object
total_pages_visited    316200 non-null int64
converted              316200 non-null int64
dtypes: int64(4), object(2)
memory usage: 12.1+ MB

In [4]:
#Check basic stats of the dataset
df.describe()

                 age       new_user  total_pages_visited      converted
count  316200.000000  316200.000000        316200.000000  316200.000000
mean       30.569858       0.685465             4.872966       0.032258
std         8.271802       0.464331             3.341104       0.176685
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max       123.000000       1.000000            29.000000       1.000000

In [5]:
#Check number of rows and columns of the dataset
df.shape

(316200, 6)

In [6]:
#Create dummy variables
df_new = pd.get_dummies(df)

In [7]:
#Check first few rows of newly created dataset
df_new.head()

,age,new_user,total_pages_visited,converted,country_China,country_Germany,country_UK,country_US,source_Ads,source_Direct,source_Seo
0,25,1,1,0,0,0,1,0,1,0,0
1,23,1,5,0,0,0,0,1,0,0,1
2,28,1,4,0,0,0,0,1,0,0,1
3,39,1,5,0,1,0,0,0,0,0,1
4,30,1,6,0,0,0,0,1,0,0,1

In [8]:
#Seperate dependent and independent variables
x = df_new.drop(columns=['converted'])
y = df_new['converted']

In [9]:
#Create train and test data set
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3)

In [10]:
#Check shape of test and train dataset
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(221340, 10)
(94860, 10)
(221340,)
(94860,)

In [11]:
#Train AdaboostClassifier on the dataset
mod = AdaBoostClassifier(n_estimators=50, learning_rate=1)

model = mod.fit(xtrain, ytrain)

#Predict the response for test dataset
ypred = model.predict(xtest)

In [12]:
#Check the accuaracy of the model
print("Accuracy:",metrics.accuracy_score(ytest, ypred))

('Accuracy:', 0.9857368753953194)